<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="ConnectionString"
         providerName="System.Data.SqlClient"
    connectionString="Data Source=WIN-B55V4XVGEI\SQLEXPRESS;Initial Catalog=Teste;User id=TesteLogin;Password=senha123;Integrated Security=True;MultipleActiveResultSets=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="CaminhoXML" value="c:\data\"></add>
  </appSettings>
</configuration>